%h2 Edit Inspiration

.form-container
  - form_for :inspiration, @inspiration, :url => inspiration_path(@inspiration), :html => { :method => :put, :multipart => true }  do |form|
    .main-container
      %label{ :for => 'title'}
      Title
      = form.text_field :title, :class => 'inspiration-box'
      %label{ :for => 'description'}
      Description
      = form.text_area :description, :class => 'inspiration-box'
      /
        Upload an Image
        = file_field_tag "inspiration_image"
      = submit_tag "Update"
