
* {
  font-family: "Droid Sans", Tahoma, "Gill Sans", sans-serif;
}

body {
  background-color: #333;
  margin: 0px;
  padding: 0px;
}

h1 a:link,
h1 a:visited,
h1 a:active {
}

h1 {
  margin: 0px;
  padding: 10px .5em;
  font-size: 160%;
  width: 300px;
}

#header {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background-color: #1a1a1a;
  z-index: 100;
}

#header img {
  position: absolute;
  width: 32px;
  right: 5px;
  top: 5px;
}

ul.utility-nav {
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 50px;
  top: 0px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 1em;
  border-left: 1px solid #444;
}

ul.utility-nav li {
  height: 42px;
  float: left;
  font-size: 80%;
}

ul.utility-nav li:hover,
ul.utility-nav a:hover {
  background-color: #51b0d8;
}

ul.utility-nav li a {
  display: inline-block;
  height: 32px;
  padding: 10px 7px 0px 7px;
}

#content {
  position: relative;
  top: 50px;
  background-color: #808080;
  margin: 0px;
  padding: 7px 1em 2em 1em;
  z-index: 1;
}

#header a:link,
#header a:visited,
#header a:active{
  color: white;
  text-decoration: none;
}

#content a:link,
#content a:visited,
#hcontent a:active {
  color: #ccc;
}

#content h2 {
  font-weight: normal;
  color: white;
  font-size: 130%;
  border-bottom: 1px dotted #aaa;
}

#content {
  font-size: 95%;
}
