%b Login:
= @user.username
 
/%b Login count:
/= @user.username_count
 
/%b Last request at:
/= @user.last_request_at
 
/%b Last login at:
/= @user.last_login_at
 
/%b Current login at:
/= @user.current_login_at
 
%b Last login ip:
/= @user.last_login_ip
 
/%b Current login ip:
/= @user.current_login_ip
 
 
= link_to 'Edit', edit_account_path
