%b Login:
= @user.username
%br
%br
%b Projects Submitted:
%ul.projects
  - @projects.each do |project|
    = link_to project.to_s, project_path(project.id)
%br
%br
%b Proposals Submitted:
%br
- @proposals.each do |proposal|
  = render :partial => "proposals/proposalshow", :locals => { :proposal => proposal, :include_comments => false }
%br
%br
%b Comments Submitted:
- @comments.each do |comment|
  = render :partial => "comments/comment", :locals => { :comment => comment }
