= error_messages_for(:file_attachment)

- form_for :file_attachment, @file_attachment, :url => file_attachments_path, :html => { :multipart => true } do |form|
  = form.file_field :file_attachment
  = submit_tag 'Submit'
