%h2 Project List

%ul.project-lister
  - @projects.each do |project|
    %li.project
      .link
        = link_to(project.to_s, project_path(project))
      .image
        /= link_to(image_tag(project.project_image.url), project_path(project))
= will_paginate @projects
= link_to "Start New Project", { :controller => "projects", :action => "new" }
