= render :partial => "projects/details", :locals => { :project => @project }
%br
    
  %h3 Proposals
  - @project.proposals.each do |proposal|
    = render :partial => "proposals/proposal", :locals => { :proposal => proposal }
  %br
    %br
  = link_to 'Create New Proposal', new_proposal_path(:project_id => @project.id)
