%h1 New Proposal

.form-container
  - form_for :proposal, @proposal, :url => proposals_url do |f|
    .main-container
      = f.error_messages
      = f.label :content
      = f.text_area :content
      = f.submit "Post"
