%h1 Upload File

.form-container
  - form_for(:attachment_metadata, :url => { :action => "create" }, :html => { :multipart => true }) do |f|

    %p
    /= f.error_messages_for :uploads
    %label{ :for => "upload" }
    Please Upload Your Photo:
    = f.file_field :uploaded_data


