- opts = { :voteable_type => voteable.class.to_s, :voteable_id => voteable.id, :refurl => refurl }
= link_to "Up", votes_path(opts.merge(:vote => :true)), :method => :post
/
= link_to "Down", votes_path(opts.merge(:vote => :false)), :method => :post

Votes: 
= voteable.votes_for - voteable.votes_against
